# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: 'your-container-image-name:$(build.buildId)'

steps:
- script: docker-compose build
  displayName: 'docker build'

- script: |
      python -m pip install --upgrade pip==9.0.3 setuptools wheel
      pip install awscli --user
  displayName: 'Install tools'
- task: AWSShellScript@1
  inputs:
      awsCredentials: 'srini-aws'
      regionName: 'eu-west-1'
      scriptType: 'inline'
      inlineScript: |
        echo $(/home/vsts/.local/bin/aws ecr get-login --no-include-email --region eu-west-1)
